# Python virtual environment
vibenv/

# Voice memo folder
VoiceMemos

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# macOS stuff
.DS_Store

# Environment variables
.env
.env.local

# docker compose volumes
ollama
open-webui
syncthing

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
